---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "limesurvey.fullname" . }}-apache-config
  labels:
    {{- include "limesurvey.labels" . | nindent 4 }}
data:
  vhost-access-log.conf: |
    SetEnvIF User-Agent "^kube-probe" dontlog
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined env=!dontlog
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "limesurvey.fullname" . }}
  labels:
    {{- include "limesurvey.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "limesurvey.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "limesurvey.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "limesurvey.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: limesurvey-apache
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: storage
              mountPath: "/var/www/html/upload/"
              {{- if .Values.persistence.subPath }}
              subPath: {{ .Values.persistence.subPath }}
              {{- end }}
            - name: apache-config
              mountPath: "/etc/apache2/conf-enabled/"
              readOnly: true
          {{- range .Values.extraVolumeMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              subPath: {{ .subPath | default "" }}
              readOnly: {{ .readOnly }}
          {{- end }}
          {{- range .Values.extraEmptyDirMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
          {{- end }}
          env:
            - name: DB_HOST
              value: {{ .Values.externalDatabase.host }}
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "limesurvey.databaseSecretName" . }}
                  key: mariadb-password
            - name: DB_USERNAME
              value: {{ .Values.externalDatabase.username }}
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "limesurvey.secretName" . }}
                  key: limesurvey-admin-password
            - name: ADMIN_USER
              value: {{ .Values.limesurvey.admin.user }}
            - name: ADMIN_NAME
              value: {{ .Values.limesurvey.admin.name }}
            - name: ADMIN_EMAIL
              value: {{ .Values.limesurvey.admin.email }}
            - name: BASE_URL
              value: {{ .Values.limesurvey.baseUrl }}
            - name: PUBLIC_URL
              value: {{ .Values.limesurvey.publicUrl }}
            - name: URL_FORMAT
              value: {{ .Values.limesurvey.urlFormat }}
            - name: SHOW_SCRIPT_NAME
              value: {{ .Values.limesurvey.showScriptName }}
            {{- if .Values.limesurvey.encrypt.keypair }}
            - name: ENCRYPT_KEYPAIR
              valueFrom:
                secretKeyRef:
                  name: {{ include "limesurvey.secretName" . }}
                  key: limesurvey-encrypt-keypair
            {{- end }}
            {{- if .Values.limesurvey.encrypt.publicKey }}
            - name: ENCRYPT_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "limesurvey.secretName" . }}
                  key: limesurvey-encrypt-publickey
            {{- end }}
            {{- if .Values.limesurvey.encrypt.secretKey }}
            - name: ENCRYPT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "limesurvey.secretName" . }}
                  key: limesurvey-encrypt-secretkey
            {{- end }}
            - name: DEBUG
              value: "{{ .Values.limesurvey.debug }}"
            - name: DEBUG_SQL
              value: "{{ .Values.limesurvey.debug_sql }}"

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: storage
      {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "limesurvey.fullname" .) }}
      {{- else }}
          emptyDir: {}
      {{- end }}
        - name: apache-config
          configMap:
            name: {{ include "limesurvey.fullname" . }}-apache-config
      {{- range .Values.extraVolumeMounts }}
        - name: {{ .name }}
          {{- if .existingClaim }}
          persistentVolumeClaim:
            claimName: {{ .existingClaim }}
          {{- else if .hostPath }}
          hostPath:
            path: {{ .hostPath }}
          {{- else }}
          emptyDir: {}
          {{- end }}
      {{- end }}
      {{- range .Values.extraEmptyDirMounts }}
        - name: {{ .name }}
          emptyDir: {}
      {{- end }}
